@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #333333;
}

#fryer-form-container {
  margin: auto;
  margin-top: 60px;
  height: 45em;
  width: 40em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  background-color: #479DAFE6;
}

.btn {
  border: 2px solid #D1D0CE;
  background-color: #D1D0CE;
  color: #333333;
  padding: 12px 24px;
  font-size: 14px;
  cursor: pointer;
}

#fryer-form-container input {
  width: 90%;
  margin-right: 30px;
  margin-left: 30px;
}

#fryer-form-container label {
  margin-left: 30px;
  color: #D1D0CE;
  font-size: 18px;
}

#fryer-form-container button {
  margin-left: 30px;
  margin-top: 20px;
}

.info:hover {
  border-color: #479DAFE6;
  color: #479DAFE6;
  background-color: #333333;
  transition: all .4s ease;
}

@media only screen and (max-width: 600px) {
  #fryer-form-container {
    margin: 60px auto;
  }
}